<!-- ENVIA A LA BASE DE DATOS -->
<form (ngSubmit)="registrar(f)" #f="ngForm">
    <div id="formulario">
        <h1> Formulario Nueva Aula</h1>
    </div>

    <div id="tabla-formulario">
        <label for="nombre">Nombre </label>
        <input [(ngModel)]="nuevaAula.aulaNombre"  placeholder="Ingrese el  nombre del Aula..." name="fnombre" type="text" id="tabla">

        <label for="apellido">Ciclo que Pertenece</label>
        <input [(ngModel)]="nuevaAula.cicloPertenece" placeholder="Ingrese  el ciclo al que pertenece..." name="fapellido" type="text" id="tabla">

        <label for="docente">Docente:</label>
        <select [(ngModel)]="nuevaAula.docente" name="docente" id="docente" (change)="onDocenteChange($event)"
        style="margin-bottom:10px; width: 95%; padding: 2%; margin-left: 10px; border: 1px solid #ccc; font-style: italic;">
            <option value="">Seleccione un docente...</option>
            <option *ngFor="let docente of docentes" [value]="docente.usuId">{{docente.perNombre1}} {{docente.perApellido1}}</option>
          </select>
          

        <label for="asignatura">Asignatura:</label>
        <select  [(ngModel)]="nuevaAula.asignatura"name="asignatura" id="asignatura" (change)="onAsignaturaChange($event)"
            style="margin-bottom:10px; width: 95%; padding: 2%; margin-left: 10px; border: 1px solid #ccc; font-style: italic;">
            <option value="">Seleccione una asignatura...</option>

            <option *ngFor="let asignatura of asignaturas" [value]="asignatura.idAsignatura">{{asignatura.nombreAsignatura}}</option>
           
     
        </select>

        <label for="periodo">Periodo Académico:</label>
        <select [(ngModel)]="nuevaAula.periodoAc" name="periodo" id="periodo" (change)="onPeriodoChange($event)"
            style="margin-bottom:10px; width: 95%; padding: 2%; margin-left: 10px; border: 1px solid #ccc; font-style: italic;">
            <option value="">Seleccione un periodo...</option>
            <option *ngFor="let periodo of periodos" [value]="periodo.idPeriodoAc">{{periodo.nombrePeriodo}}</option>
        </select>

        <label for="descripcion">Observaciones</label>
        <textarea [(ngModel)]="nuevaAula.observaciones" rows="5" cols="70" class="entradas" pInputTextarea placeholder="Escriba una Observacio" name="descripcion" id="tabla" ></textarea>
        





    </div>
    <button name="registro" type="submit" id="button"> ¡Crear Nueva Aula! </button>
</form>