<!-- ENVIA A LA BASE DE DATOS -->
<form (ngSubmit)="registrar(f)" #f="ngForm">
    <div id="formulario">
        <h1> Formulario Nueva Aula</h1>
    </div>

    <div id="tabla-formulario">
        <label for="nombre">Nombre </label>
        <!-- <input [(ngModel)]="nuevaAula.aulaNombre" type="text" class="entradas" pInputText
            placeholder="Ingrese el  nombre del Aula..." name="fnombre" type="text" id="tabla" required> -->
            <input [(ngModel)]="nuevaAula.aulaNombre" type="text" class="entradas" pInputText
        placeholder="Ingrese el  nombre del Aula..." name="fnombre" type="text" id="tabla" required>
  

        <div class="flex flex-column gap-2">
            <label for="ciclo">Ciclo que Pertenece</label>
            <p-dropdown  name="selectedCiclo" [options]="cicloSeleccion" optionValue="value" [(ngModel)]="nuevaAula.cicloPertenece" optionLabel="label" [showClear]="true" placeholder="Seleccione un ciclo"></p-dropdown>

        </div>
        <p-button (click)="mostrarSelecccion()">
            Mostrar
        </p-button>
          


        <!-- Para Docentes -->
        <label for="docente">Docente:</label>
      
            <p-dropdown class="full-width-dropdown" [(ngModel)]="nuevaAula.docente" name="docente" [options]="docentes"
            optionLabel="fullName" placeholder="Seleccione un Docente" (onChange)="onDocenteChange($event)"
            [style]="{ 'width': '100%' }"></p-dropdown>
       

        

        <!-- Para Asignaturas -->
        <label for="asignatura">Asignatura:</label>
        <p-dropdown class="full-width-dropdown" [(ngModel)]="nuevaAula.asignatura" name="asignatura"
            [options]="asignaturas" optionLabel="nombreAsignatura" placeholder="Seleccione una Asignatura"
            (onChange)="onAsignaturaChange($event)" [style]="{ 'width': '100%' }">
        </p-dropdown>
      
        <label for="periodo">Periodo Académico:</label>
        <!-- Para Periodos -->
        <p-dropdown class="full-width-dropdown" [(ngModel)]="nuevaAula.periodoAc" name="periodoAc" [options]="periodos"
            optionLabel="nombrePeriodo" placeholder="Seleccione un Periodo" (onChange)="onPeriodoChange($event)"
            [style]="{ 'width': '100%' }">
        </p-dropdown>
     

        <label for="descripcion">Observaciones</label>
        <textarea [(ngModel)]="nuevaAula.observaciones" pInputTextarea rows="5" cols="70" class="entradas"
            pInputTextarea placeholder="Escriba una Observacio" name="descripcion" id="tabla"
            [style]="{ 'width': '100%' }"></textarea>



    </div>

    <div id="botones-container">
        <p-button name="registro" type="submit" id="button"> ¡Crear Nueva Aula! </p-button>
        <p-button icon="pi pi-times" severity="danger" label="Cancelar" (click)="resetForm()"
            [routerLink]="['/menu/contenido-virtual/listar-aulas']"></p-button>
    </div>
    <!-- <button name="registro" type="submit" id="button"> ¡Crear Nueva Aula! </button>
    <p-button icon="pi pi-times" severity="danger" label="Cancelar" (click)="resetForm()"
        [routerLink]="['/menu/contenido-virtual/listar-aulas']"></p-button> -->

</form>