<div class="formulario">

    <body>
       
        
            <h2>Clasificacion de Criterios</h2>
            <div class="flex flex-column gap-2">
                <label for="nombre_clasificacion">nombre de clasificacion:</label>
                <input pInputText type="text" id="nombre_clasificacion" name="nombre_clasificacion" placeholder="nombre de clasificacion"[(ngModel)]="criterio.nombre_clasificacion" />
                <small id="nombre_clasificacion">Ingrese nombre de clasificacion.</small>
            </div>
            
            <div class="button-container">
          
                <button type="submit" class="btn btn-primary submit-form me-2" routerLink="/clasificacion-criterios-listar" (click)="guardarcriterio()">Guardar</button>
            </div>
           
    
    </body>
    
    </div>