<div class="container">
  <h1>Listado de Roles</h1>
  <p-table [value]="roles" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>ID Rol</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rol>
      <tr>
        <td>{{ rol.rolId }}</td>
        <td>{{ rol.rolNombre }}</td>
        <td>{{ rol.rolDescripcion }}</td>
        <td>
          <p-button (click)="editarRol(rol)" label="Editar"></p-button>
          <p-button (click)="eliminarRol(rol.rolId)" label="Eliminar"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="modal" [style.display]="displayDialog ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title label-lg">Editar Rol</h5>
        
        <p-button  type="button" class="close" (click)="displayDialog = false" label="cerrar"></p-button>

     
      </div>
      <div class="modal-body">
        <form (ngSubmit)="guardarCambios()">
         <div class="input-group">
        
    <label for="nombre">Nombre:</label>
    <input
      type="text"
      id="nombre"
      name="nombre"
      pInputText
      [(ngModel)]="selectedRol.rolNombre" required
    />
  </div>
  <div class="input-group">
    <label for="Descripción">Descripción:</label>
    <input
      type="text"
      id="Descripción"
      name="Descripción"
      pInputText
      [(ngModel)]="selectedRol.rolDescripcion"
      required
    />
  </div>
          <p-button  type="submit" label="Guardar Cambios"></p-button>

        </form>
      </div>
    </div>
  </div>
</div>
