<router-outlet></router-outlet>
<section>
    <h1 > Gestion de Periodos Academicos</h1>
<p-button icon="pi pi-plus" label="Nuevo Periodo"   (click)="showModal()"></p-button>

<div style="display: flex; justify-content: center; align-items: center; width: 80%; margin: auto;">


    <div class="card">
        <p-table [value]="periodos" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[5, 10, 20]">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:5%">ID</th>
                    <th style="width:20%">Fecha Inico</th>
                    <th style="width:20%">Fecha fin</th>
                    <th style="width:25%">Periodo</th>
                    <th style="width:25%">Description</th>
                    <th style="width:5%">Editar</th>
                    <th style="width:5%">Borrar</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-periodo>
                <tr>
                    <td>{{ periodo.idPeriodoAc }}</td>
                    <td>{{ periodo.fechaInicio | date:'yyyy-MM-dd' }}</td>
                    <td>{{ periodo.fechaFin | date:'yyyy-MM-dd' }}</td>
                    <td>{{ periodo.nombrePeriodo }}</td>
                    <td>{{ periodo.descripcion }}</td>
                    <td> <p-button icon="pi pi-pencil" severity="success" (click)="showModalactualizar(periodo.idPeriodoAc)"  ></p-button></td>  
                    <!-- [routerLink]="['/menu/contenido-virtual/actualizar-periodo']" -->

                    <td> <p-button icon="pi pi-times" severity="danger" (click)="eliminarPeriodoAcConfirmado(periodo.idPeriodoAc)"></p-button></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"  (click)="showModal()"></p-button>
            </ng-template>
           
        </p-table>
    </div>

</div>



</section>
<p-dialog
  [(visible)]="displayModalregsitro"
  [modal]="true"
  [responsive]="true"
  [style]="{ width: '60vw' }"
>
  <app-registrar-periodo-ac></app-registrar-periodo-ac>
</p-dialog>
<p-dialog
  [(visible)]="displayModalactualizar"
  [modal]="true"
  [responsive]="true"
  [style]="{ width: '60vw' }"
>
<app-actualizar-periodo-ac [periodoId]="periodoId"></app-actualizar-periodo-ac>
</p-dialog>