<body>
    <div class="encabezado">
        <ul class="lista">
            <li>
                <a [routerLink]="['/menu/contenido-analitics/analisis-uso']" routerLinkActive="router-link-active" class="no-underline menu">
                    <i class="pi pi-chart-bar"></i>
                    <span class="nav-item">Periodo Académico</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/menu/contenido-analitics/analisis-uso-carrera']" routerLinkActive="router-link-active" class="no-underline menu">
                    <i class="pi pi-chart-line"></i>
                    <span class="nav-item">Carrera</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/menu/contenido-analitics/analisis-uso']" routerLinkActive="router-link-active" class="no-underline menu">
                    <i class="pi pi-chart-pie"></i>
                    <span class="nav-item">Docente</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/menu/contenido-analitics/analisis-uso']" routerLinkActive="router-link-active" class="no-underline menu">
                    <i class="pi pi-list"></i>
                    <span class="nav-item">Asignatura</span>
                </a>
            </li>
        </ul>
    </div>
    
    <div>
        <router-outlet></router-outlet>
    </div>
    </body>