<body>
  <div class="encabezado">
    <ul class="lista">
      <li *ngIf="rol === 'Administrador' || rol === 'Director de Carrera'">
        <a
          [routerLink]="['/menu/contenido-persona/listar-persona']"
          routerLinkActive="router-link-active"
          class="no-underline menu"
        >
          <i class="pi pi-users"></i>
          <span class="nav-item">Personas</span>
        </a>
      </li>
      <li *ngIf="rol === 'Administrador'">
        <a
          [routerLink]="['/menu/contenido-persona/listar-rol']"
          routerLinkActive="router-link-active"
          class="no-underline menu"
        >
          <i class="pi pi-id-card"></i>
          <span class="nav-item">Rol</span>
        </a>
      </li>
      <!-- <li *ngIf="rol === 'Administrador'">
        <a
          [routerLink]="['/menu/contenido-persona/registrar-rol']"
          routerLinkActive="router-link-active"
          class="no-underline menu"
        >
          <i class="pi pi-list"></i>
          <span class="nav-item">Registrar rol</span>
        </a>
      </li> -->
      <li *ngIf="rol === 'Administrador'">
        <a
          [routerLink]="['/menu/contenido-persona/listar-usuarios']"
          routerLinkActive="router-link-active"
          class="no-underline menu"
        >
          <i class="pi pi-user"></i>
          <span class="nav-item"Usuarios> Usuarios</span>
        </a>
      </li>
    </ul>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>
</body>
