<body>
    <div class="encabezado">
        <ul class="lista">
            <li>
                <a [routerLink]="['/menu/contenido-persona/registrar-persona']" routerLinkActive="router-link-active" class="no-underline menu">
                    <i class="pi pi-file"></i>
                    <span class="nav-item">Nueva Persona</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/menu/contenido-persona/listar-persona']" routerLinkActive="router-link-active" class="no-underline menu">
                    <i class="pi pi-list"></i>
                    <span class="nav-item">Personas</span>
                </a>
            </li>
        </ul>
    </div>
    
    <div>
        <router-outlet></router-outlet>
    </div>
    </body>