<html lang="en">

<body>
  <div class="login-container">
    <div class="login-info-container">
      <div class="titulo">
        <h1 class="title">PRAU</h1>
        <p>Plataforma de Reportes de Análisis de Uso</p>
      </div>
      <form class="inputs-container">
        <p-floatLabel>
          <input style="min-width: 276px;" id="username" type="text" pInputText
            [(ngModel)]="loginRequest.usuNombreUsuario" name="usuNombreUsuario" />
          <label for="username">Username</label>
        </p-floatLabel>
        <span class="p-float-label">
          <p-password [(ngModel)]="loginRequest.usuContrasena" name="usuContrasena" [toggleMask]="true"
            [feedback]="false"></p-password>
          <label for="password">Password</label>
        </span>
        <!-- <p-button label="Submit" (click)="logIn()"></p-button> -->
        <button class="btn" (click)="logIn() ">login</button>
      </form>
    </div>
    <div class="image-container">
      <img class="img-prop" src="../../../assets/LOGO-TECAZUAY.png" alt="">
    </div>
  </div>
</body>

</html>