@import '../../../variables.scss';

:root {
    --login-bg: #f8f3ff;
    --title-bg: #9089cc;
    --button-bg: #674baf;
    --light-pink: #e882e8;
    --image-bg: #eadbff;
}

body {
    height: 90vh;
    font-family: 'PT Serif';
    /* background-image: linear-gradient(to top, rgb(0, 79, 159) 0%, #023c78 100%) ; */
}

.login-container {
    height: 33.75em;
    width: 60em;
    margin: 5em auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    /* Agrega una sombra en los cuatro lados */
    background-color: #fff;
    /* Ajusta el color de fondo según sea necesario */
}


.login-info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 3rem;
    background-color: var(--login-bg);
    /* background-color: rgb(46, 93, 221); */
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    /* Ajusta la altura según el contenido */
    overflow: hidden;
    /* Oculta cualquier contenido que se desborde */
}

.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/TEC-AZUAY.jpg');
    background-size: cover;
    /* Cubre todo el contenedor */
    background-position: center;
    /* Centra la imagen */
    filter: blur(10px);
    /* Aplica desenfoque a la imagen de fondo */
    z-index: 1;
    /* Coloca la imagen de fondo detrás de los elementos secundarios */
}

.img-prop {
    display: block;

    position: relative;
    z-index: 1;
    /* Coloca la imagen por delante del div de fondo desenfocado */
}

.titulo{
    padding: 2rem 0;
    .title {
        text-transform: capitalize;
        font-size: 4rem;
        font-weight: 600;
        letter-spacing: 1px;
        color: $azul-oscuro;
        margin: 0;
        /* color: var(--title-bg); */
    }
    p{
        color: $gris-claro;
        margin: 0;
    }
    
}


.social-login {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.social-login-element {
    width: 12.5rem;
    height: 3.75rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 5px;
    border: 1px solid var(--button-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-login-element img {
    width: 1.875rem;
    height: 1.875rem;
    position: relative;
    top: 0;
    left: -0.625rem;
}

.social-login-element:hover {
    background-color: #fff;
}

.login-info-container>p {
    font-size: 1.25em;
    margin-top: 1.5em;
}

.inputs-container {
    height: 55%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input,
.btn {
    width: 90%;
    height: 3.125rem;
    font-size: 1em;
}

.input {
    /* padding-left: 20px; */
    /* border: none; */
    /* border-radius: 5px; */
    /* font-weight: 600; */
    /* letter-spacing: 1px; */
    /* box-sizing: border-box; */
}

.input:hover {
    border: 2px solid var(--button-bg);
}

.btn {
    width: 40%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $blanco;
    border: none;
    border-radius: 5px;
    background-color: $azul-oscuro;
    cursor: pointer;
}

.inputs-container p {
    margin: 0;
}

.span {
    color: var(--light-pink);
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .login-container {
        width: 70%;
        margin-top: 3rem;
    }

    .login-info-container {
        width: 100%;
        border-radius: 5px;
    }

    .image-container {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .login-container {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .login-container {
        height: 90%;
    }

    .social-login {
        flex-direction: column;
        align-items: center;
        height: 30%;
    }

    .login-info-container>p {
        margin: 0;
    }
}