<app-header-director></app-header-director>
<div class="flex justify-center text-blue-700">
    <h1>Uso de plataforma</h1>
</div>
<div>
    <div class="flex flex-col justify-center items-center">
        <div class="relative flex flex-col items-center rounded-[20px] w-[700px] max-w-[95%] mx-auto bg-gray-200 bg-clip-border shadow-3xl shadow-shadow-500  p-3">
            <div class="grid grid-cols-2 gap-4 px-2 w-full">
                <div class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                    <p class="text-sm text-gray-600">Periodo académico</p>
                    <p class="text-base font-medium text-navy-700 text-gray-400">
                        Año académico
                    </p>
                    <mat-form-field class="h-20 w-10">
                        <mat-label>Selecciona un periodo académico</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let periodo of periodosAcademicos" [value]="periodo.fechaInicio">
                                {{ periodo.fechaInicio | date: 'dd/MM/yyyy' }} - {{ periodo.fechaFin | date: 'dd/MM/yyyy' }}
                              </mat-option>
                                                      </mat-select>
                    </mat-form-field>
                </div>

                <div class="flex flex-col justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                    <p class="text-sm text-gray-600">Docente</p>
                    <mat-form-field class="h-20 w-10">
                        <mat-label>Selecciona un docente</mat-label>
                        <mat-select> 
                            <mat-option *ngFor="let docente of docentes" [value]="docente.usuPerId.perNombre1">{{ docente.usuPerId.perApellido1}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                    <p class="text-sm text-gray-600">Carrera</p>
                    <mat-form-field class="h-20 w-10">
                        <mat-label>Selecciona una carrera</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let carrera of carreras" [value]="carrera.idCarrera">{{ carrera.nombreCarrera }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="flex flex-col justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                    <p class="text-sm text-gray-600">Curso</p>
                    <mat-form-field class="h-20 w-10">
                        <mat-label>Selecciona un curso</mat-label>
                        <mat-select>
                            <mat-option value="option1">Curso 1</mat-option>
                            <mat-option value="option2">Curso 2</mat-option>
                            <mat-option value="option3">Curso 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded mt-2" routerLink="/director/use">
                Aceptar <mat-icon class="text-lg absolute" style="margin-top: -2.5px;">check_circle</mat-icon>
            </button>
        </div>
    </div>
</div>
