<body>
    <!-- SIDEBAR -->
  <div class="sidebar">
    <div class="logo">
      <img
        src="../../../assets/LOGO-RECTANGULAR.png"
        alt=""/>
    </div>
    <ul class="menu">
      <li routerLinkActive="router-link-active" *ngIf="nombredeRol === 'Administrador' || nombredeRol === 'Director de Carrera'">
        <a id="personas" [routerLink]="['/menu/contenido-persona']" >
          <i class="pi pi-users"></i>
          <span id="registrar" class="nav-item">Personas</span>
        </a>
      </li>
      <li routerLinkActive="router-link-active">
        <a
          [routerLink]="['/menu/contenido-virtual']"
        >
          <i class="pi pi-desktop"></i>
          <span class="nav-item">Aula Virtual</span>
        </a>
      </li>
      <li routerLinkActive="router-link-active">
        <a
          [routerLink]="['/menu/contenido-criterios']"
        >
          <i class="pi pi-check-square"></i>
          <span class="nav-item">Evaluación</span>
        </a>
      </li>
     

      <li routerLinkActive="router-link-active">
        <a [routerLink]="['/menu/contenido-analitics']">
          <i class="pi pi-chart-line"></i>
          <span class="nav-item">Análisis de Uso</span>
        </a>
      </li>

      <li routerLinkActive="router-link-active" *ngIf="nombredeRol === 'Administrador' || nombredeRol === 'Responsable'">
        <a [routerLink]="['/menu/contenido-reportes/generar-reportes']">
          <i class="pi pi-file"></i>
          <span class="nav-item">Reportes</span>
        </a>
      </li>

      <li class="logout" routerLinkActive="router-link-active">
        <a [routerLink]="['/login']">
          <i class="pi pi-sign-out"></i>
          <span class="nav-item">Log out</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- HEADER -->
  <div class="main-content">
    <div class="header-wrapper">
      <div class="header-title">
        <h2>Dashboard</h2>
      </div>
      <div class="header-img">
        <img
          class="header-img"
          src="../../../assets/LOGO-RECTANGULAR.png"
          alt=""
        />
      </div>
      <div class="user-info search-box">
        <div class="user-data" *ngIf="datos && datos.length > 0">
          <h5 class="responsable"> {{datos[0][1]}}</h5>
          <h5 class="rol"> {{datos[0][0]}}</h5>
        </div>
        <img
          src="../../../assets/avatar.png"
          alt=""
        />
      </div>
    </div>

    <!-- CONTENT CARRERAS -->

    <div class="card-container">
      <div class="card-wrapper">
        <div class="contenido">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</body>
