<div class="formulario">
    <h2 class="text-center">Registro de Carrera</h2>
    <div class="flex flex-column gap-2">
        <label for="nombreCarrera">Nombre de Carrera:</label>
        <input pInputText type="text" id="nombreCarrera" name="nombreCarrera" placeholder="Nombre de Carrera" [(ngModel)]="carrera.nombreCarrera" />
        <small id="nombreCarrera">Ingrese nombre de carrera.</small>
    </div>
    <div class="flex flex-column gap-2">
        <label for="descripcionCarrera">Descripcion:</label>
        <input pInputText type="text" id="descripcionCarrera" name="descripcionCarrera" placeholder="descripcionCarrera" [(ngModel)]="carrera.descripcionCarrera" />
        <small id="descripcionCarrera">Ingrese la descripcion.</small>
    </div>
    <div class="flex flex-column gap-2">
        <label for="director">Usuario:</label>
        <select id="director" name="director" [(ngModel)]="carrera.director">
            <option *ngFor="let usuario of usuarios" [ngValue]="usuario">{{ usuario.usuNombreUsuario}}</option>
        </select>
    </div>
    <div class="button-container">
        <p-button  type="submit" icon="pi pi-check" label="Guardar" [rounded]="true" [text]="true" [raised]="true" (click)="guardarCarrera()"></p-button>
    </div>
</div>
