<div class="formulario">

    <body>
       
        
            <h2>Clasificacion de Criterios Actualizar</h2>
            <div class="flex flex-column gap-2">
                <label for="nombreClasificacion">nombre de clasificacion:</label>
                <input pInputText type="text" id="nombreClasificacion" name="nombreClasificacion" placeholder="nombre de clasificacion"[(ngModel)]="criterio.nombreClasificacion" />
                <small id="nombreClasificacion">Ingrese nombre de clasificacion.</small>
            </div>
            <div class="flex flex-column gap-2">
                <label for="descripcion">Descripcion:</label>
                <input pInputText type="text" id="descripcion" name="descripcion" placeholder="nombre de clasificacion"[(ngModel)]="criterio.descripcion" />
                <small id="descripcion">Ingrese nombre de clasificacion.</small>
            </div>
       
            <div class="button-container">
          
                <button type="submit" class="btn btn-primary submit-form me-2" routerLink="/clasificacion-criterios-listar" >Guardar</button>

                <button type="submit" class="btn btn-primary submit-form me-2"  routerLink="/clasificacion-criterios-listar" style="margin-left: 10px">Cancelar</button>
                  
            </div>
    
    </body>
    
    </div>