<div class="formulario">
  <body>
    <h2 class="text-center">Clasificacion de Criterios Actualizar</h2>
    <div class="flex flex-column gap-2">
      <label for="nombreClasificacion">nombre de clasificacion:</label>
      <input
        pInputText
        type="text"
        id="nombreClasificacion"
        name="nombreClasificacion"
        placeholder="nombre de clasificacion"
        [(ngModel)]="criterio.nombreClasificacion"
      />
      <small id="nombreClasificacion">Ingrese nombre de clasificacion.</small>
    </div>
    <div class="flex flex-column gap-2">
      <label for="descripcion">Descripcion:</label>
      <input
        pInputText
        type="text"
        id="descripcion"
        name="descripcion"
        placeholder="nombre de clasificacion"
        [(ngModel)]="criterio.descripcion"
      />
      <small id="descripcion">Ingrese nombre de clasificacion.</small>
    </div>

    <div class="button-container">
      <p-button
        icon="pi pi-check"
        label="Guardar"
        [rounded]="true"
        [text]="true"
        [raised]="true"
        (click)="onSubmit()"
      ></p-button>

      <p-button
        icon="pi pi-times"
        label="Cancelar"
        [rounded]="true"
        [text]="true"
        [raised]="true"
        severity="danger "
        routerLink="/menu/contenido-criterios/clasificacion-listar"
      ></p-button>
    </div>
  </body>
</div>
