.contenedor {
    background: #023b76; /* Gradiente lineal con los colores proporcionados */
    padding: 20px; /* Añadir un espacio interior */
    border-radius: 10px;
  }
  
  .titulo-criterios {
    color: #ffffff; /* Cambiar color del título */
  }
  .registrar-button {
    margin-bottom: 20px; /* Puedes ajustar el valor para separar más o menos el botón */
  }
  
  .tabla-container {
    margin-top: 20px; /* Puedes ajustar el valor para separar más o menos la tabla del botón */
  }

  table{
    width: 100%;
    padding-bottom: 2rem;
  }
  .descripcion-criterio {
    max-width: 200px; /* Define el ancho máximo del texto */
    white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
    overflow: hidden; /* Oculta cualquier contenido que exceda el ancho máximo */
    text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al final del texto cuando se recorta */
  }