<div class="formulario">
    <h2 class="text-center">Actualizar registro de Carrera</h2>
    <div class="flex flex-column gap-2">
        <label for="nombreCarrera">Nombre de Carrera:</label>
        <input pInputText type="text" id="nombreCarrera" name="nombreCarrera" placeholder="Nombre de Carrera" [(ngModel)]="carrera.nombreCarrera" />
        <small id="nombreCarreraHelp">Ingrese nombre de carrera.</small>
    </div>
    <div class="flex flex-column gap-2">
        <label for="descripcionCarrera">Descripción:</label>
        <input pInputText type="text" id="descripcionCarrera" name="descripcionCarrera" placeholder="Descripción de Carrera" [(ngModel)]="carrera.descripcionCarrera" />
        <small id="descripcionCarreraHelp">Ingrese la descripción.</small>
    </div>
    
    <div class="flex flex-column gap-2">
        <label for="director">Director:</label>
        <p-autoComplete [(ngModel)]="selectedCountry" [dropdown]="true" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field ="perNombre1"> 
            <ng-template let-item pTemplate="item">
                <div>{{item?.perNombre1}} {{item?.perNombre1}}</div>
                
            </ng-template>
        </p-autoComplete>
        
    <div class="button-container">
        <p-button icon="pi pi-check" label="Guardar" [rounded]="true" [text]="true" [raised]="true" (click)="onSubmit()"></p-button>
        <p-button icon="pi pi-times" label="Cancelar" [rounded]="true" [text]="true" [raised]="true" severity="danger" routerLink="/menu/contenido-virtual/carrera-listar"></p-button>
    </div>
</div>
