<body>
    <div class="encabezado">
        <ul class="lista">
            <!-- <li>
                <a [routerLink]="['/menu/contenido-criterios/criterios']" routerLinkActive="router-link-active" class="no-underline menu">
                    <i class="pi pi-file"></i>
                    <span class="nav-item">Nuevo Criterio</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/menu/contenido-criterios/clasificacion-actualizar']" routerLinkActive="router-link-active" class="no-underline menu">
                    <i class="pi pi-flag"></i>
                    <span class="nav-item">Actualizar Clasificacion</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/menu/contenido-criterios/criterios-listar']" routerLinkActive="router-link-active" class="no-underline menu">
                    <i class="pi pi-flag"></i>
                    <span class="nav-item">Lista de criterio</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/menu/contenido-criterios/clasificacion-criterios']" routerLinkActive="router-link-active" class="no-underline menu">
                    <i class="pi pi-file"></i>
                    <span class="nav-item">Nueva Clasificacion</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/menu/contenido-criterios/criterios-actualizar']" routerLinkActive="router-link-active" class="no-underline menu">
                    <i class="pi pi-flag"></i>
                    <span class="nav-item">Actualizar Criterio</span>
                </a>
            </li> -->
            
            <li>
                <a [routerLink]="['/menu/contenido-asignatura/asignatura']" routerLinkActive="router-link-active" class="no-underline menu">
                    <i class="pi pi-book"></i>
                    <span class="nav-item">Asignatura</span>
                </a>
            </li>
        </ul>
    </div>
    
    <div>
        <router-outlet></router-outlet>
    </div>
    </body>>
