<div class="formulario">
    <h2 class="text-center">Registro de Criterio</h2>
    <div class="flex flex-column gap-2">
        <label for="nombreCriterio">Nombre de Criterio:</label>
        <input pInputText type="text" id="nombreCriterio" name="nombreCriterio" placeholder="Nombre de Criterio" [(ngModel)]="criterio.nombreCriterio" />
        <small id="nombreCriterio">Ingrese nombre de criterio.</small>
    </div>
    <div class="flex flex-column gap-2">
        <label for="descripcion">Descripción:</label>
        <textarea
                pInputText
                id="descripcion"
                name="descripcion"
                placeholder="nombre de clasificación"
                [(ngModel)]="criterio.descripcion"
            ></textarea>
        <small id="descripcion">Ingrese la  descripción .</small>
      </div>
    <div class="flex flex-column gap-2">
        <label for="clasificacion">Clasificación de Criterio:</label>
        <select id="clasificacion" name="clasificacion" [(ngModel)]="criterio.clasificacion">
            <option *ngFor="let clasificacion of clasificaciones" [ngValue]="clasificacion">{{ clasificacion.nombreClasificacion }}</option>
        </select>
    </div>
    <div class="button-container">
        <p-button  type="submit" icon="pi pi-check" label="Guardar" [rounded]="true" [text]="true" [raised]="true" (click)="guardarCriterio()"></p-button>
    </div>
</div>