<body>
<div class="encabezado">
    <ul class="lista">
        <li>
            <a [routerLink]="['/menu/contenido-virtual/carrera']" routerLinkActive="router-link-active" class="no-underline menu">
                <i class="pi pi-list"></i>
                <span class="nav-item">Carrera</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/menu/contenido-virtual/asignatura']" routerLinkActive="router-link-active" class="no-underline menu">
                <i class="pi pi-book"></i>
                <span class="nav-item">Asignaturas</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/menu/contenido-virtual/listar-periodo']" routerLinkActive="router-link-active" class="no-underline menu">
                <i class="pi pi-book"></i>
                <span class="nav-item">Periodos</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/menu/contenido-virtual/listar-aulas']" routerLinkActive="router-link-active" class="no-underline menu">
                <i class="pi pi-book"></i>
                <span class="nav-item">Aulas</span>
            </a>
        </li>
    </ul>
</div>

<div>
    <router-outlet></router-outlet>
</div>
</body>