body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.layout {
  width: 100%;

  display: flex;
  gap: 16px;
}

.grow1 {
  flex-grow: 1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
}

.search-container {
  flex: 1;
  margin-right: 20px;
}

.evaluation-number {
  flex: 1;
  text-align: right;
}

.course-details {
  padding: 10px;
  background-color: #f0f0f0;
}

.formulario {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.gap-2 {
  gap: 10px;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.progress-container {
  display: flex;
  align-items: center;
}

.progress-value {
  margin-left: 10px;
}

.question-section {
  margin-top: 20px;
}

.question {
  margin-bottom: 10px;
}

select {
  width: 25%;
  padding: 5px;
}

input[type="text"],
select {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
}

input[type="text"]:focus,
select:focus {
  outline: none;
  border-color: #007bff;
}

.grupo-preguntas {
  border: 1px solid #ccc;
  /* Borde sólido de 1px de grosor y color gris claro */
  margin-bottom: 20px;
  /* Espacio entre cada grupo de preguntas */
  padding: 10px;
  /* Espacio interno dentro de cada grupo de preguntas */
}