<div class="formulario">

    <body>
    <header>
        <div class="subconten2">

            <div class="evaluation-details">
                <label for="lblNumeroEvaluacion">N° Evaluación:</label>
                <span id="lblNumeroEvaluacion">{{ evaluacionCab.nroEvaluacion }}</span>
                
            </div>
    
        <div class="header-container">
            <div><label for="lblPorcentajeCumplimiento"></label>
                <span id="lblPorcentajeCumplimiento"></span></div>
        </div>

        <div class="course-details">
            <!-- Aquí se cargarán los datos del curso y del docente -->
            <!-- Ejemplo: -->
            <p>Nombre del Curso: {{ nombreCurso }}</p>
            <p>Docente a cargo: {{ nombreDocente }}</p>

            <div class="evaluation-progress">
                <label for="porcentajeCumplimiento">Porcentaje de cumplimientoC:</label>
                <div class="progress-container">
                    <progress id="porcentajeCumplimiento" max="100" [value]="porcentajeCumplimientoC"></progress>
                    <span class="progress-value">{{ porcentajeCumplimientoC }}%</span>
                </div>
            </div>
            <div class="evaluation-progress">
                <label for="porcentajeCumplimiento">Porcentaje de cumplimientoCM:</label>
                <div class="progress-container">
                    <progress id="porcentajeCumplimiento" max="100" [value]="porcentajeCumplimientoM"></progress>
                    <span class="progress-value">{{ porcentajeCumplimientoM }}%</span>
                </div>
            </div>
            <div class="evaluation-progress">
                <label for="porcentajeCumplimiento">Porcentaje de cumplimientoNC:</label>
                <div class="progress-container">
                    <progress id="porcentajeCumplimiento" max="100" [value]="porcentajeCumplimientoN"></progress>
                    <span class="progress-value">{{ porcentajeCumplimientoN }}%</span>
                </div>
            </div>

        </div>
    </div>
    </header>

    <div class="formulario">

        <!-- Grupo 1 -->
        
            <div class="grupo-preguntas">
                <div class="question-section">
                    <div class="question" *ngFor="let clasificacion of clasificaciones">
                        <h2>{{ clasificacion.nombreClasificacion }}</h2>
                        <div *ngFor="let criterio of criteriosPorClasificacion(clasificacion.idClasificacion)">
                            <label for="pregunta{{criterio.idCriterio}}">{{ criterio.descripcion }}:</label>
                            <select id="pregunta{{criterio.idCriterio}}" name="pregunta{{criterio.idCriterio}}"(change)="actualizarCalificacion($event)">
                                <option value="" selected disabled>Seleccione la calificacion</option>
                                <option *ngFor="let calificacion of calificaciones" [value]="calificacion.codCalificacion">{{ calificacion.codCalificacion }}</option>
                            </select>
                        </div>
                        <hr>
                    </div>
                    
                </div>
                
            </div>
            
        
        <div class="button-container">
            <p-button icon="pi pi-check" label="Guardar" [rounded]="true" [text]="true" [raised]="true" (click)="actualizarEvaluacionCab()" routerLink="/menu/contenido-criterios/criterios-evaluacion"></p-button>
            <p-button icon="pi pi-times" label="Cancelar" [rounded]="true" [text]="true" [raised]="true" severity="danger" routerLink="/menu/contenido-criterios/criterios-evaluacion"></p-button>
        </div>
    </div>
</body>
    
    </div>
