<div class="subconten1">
  <div class="flex flex-column gap-2">
    <label for="username">Nombre</label>
    <input
      pInputText
      id="username"
      aria-describedby="username-help"
      [(ngModel)]="value"
    />
    <small id="username-help">Escriba el nombre.</small>
  </div>
  <div class="flex flex-column gap-2">
    <label for="username">Apellido</label>
    <input
      pInputText
      id="username"
      aria-describedby="username-help"
      [(ngModel)]="value"
    />
    <small id="username-help">Escriba el apellido</small>
  </div>
  <div class="flex flex-column gap-2">
    <label for="username">Correo</label>
    <input
      pInputText
      id="username"
      aria-describedby="username-help"
      [(ngModel)]="value"
    />
    <small id="username-help">Escriba el correo</small>
  </div>
  <div class="flex flex-column gap-2">
    <label for="username">Nombre</label>
    <input
      pInputText
      id="username"
      aria-describedby="username-help"
      [(ngModel)]="value"
    />
    <small id="username-help">Escriba el nombre.</small>
  </div>
  <div class="flex flex-column gap-2">
    <label for="username">Nombre</label>
    <input
      pInputText
      id="username"
      aria-describedby="username-help"
      [(ngModel)]="value"
    />
    <small id="username-help">Escriba el nombre.</small>
  </div>
</div>
