<div class="formulario">
  <h1 class="texto">PRAU</h1>

  <p-dropdown
    [options]="personasFiltradas"
    [(ngModel)]="selectedPersona"
    optionLabel="nombreCompleto"
    [filter]="true"
    [showClear]="false"
    placeholder="Seleccione un usuario"
    (onChange)="onPersonaSelect($event)"
  >
  </p-dropdown>

  <div class="input-group">
    <label for="cedula">Cedula:</label>

    <input
      type="text"
      id="cedula"
      name="perCedula"
      pInputText
      [(ngModel)]="persona.perCedula"
      required
    />
  </div>
  <div class="input-group">
    <label for="nombre">Nombre:</label>
    <input
      type="text"
      id="nombre"
      name="nombre"
      pInputText
      [(ngModel)]="persona.perNombre1"
      required
    />
  </div>
  <div class="input-group">
    <label for="apellido">Apellido:</label>
    <input
      type="text"
      id="apellido"
      name="apellido"
      pInputText
      [(ngModel)]="persona.perApellido1"
    />
  </div>
  <div class="input-group">
    <label for="direccion">Direccion:</label>
    <input
      type="text"
      id="direccion"
      name="direccion"
      pInputText
      [(ngModel)]="persona.perDireccion"
    />
  </div>
  <div class="input-group">
    <label for="telefono">Teléfono:</label>
    <input
      type="tel"
      id="telefono"
      name="telefono"
      pInputText
      [(ngModel)]="persona.perTelefono"
    />
  </div>
  <div class="input-group">
    <label for="fecha">Fecha Nacimiento:</label>
    <p-calendar
      id="fecha"
      name="fecha"
      [(ngModel)]="persona.perFechaNacimiento"
      dateFormat="dd/mm/yy"
      [showIcon]="true"
    ></p-calendar>
  </div>

  <div class="input-group">
    <label for="dropdown1">Usuario:</label>
    <p-dropdown
      id="dropdown1"
      [style]="{ 'width.%': 100 }"
      [options]="roles"
      optionLabel="label"
      optionValue="value"
      [(ngModel)]="valorSeleccionado"
    (ngModelChange)="onRolChange($event)"
    >
    </p-dropdown>
  </div>
  <div class="input-group">
    <label for="apellido">Contraseña:</label>
    <input
      type="text"
      id="password"
      name="password"
      pInputText
      [(ngModel)]="usuario.usuContrasena"
    />
  </div>

  <div class="boton-group">
    <p-button
      type="button"
      pButton
      icon="pi pi-check"
      label="Guardar"
      (click)="guardarDatos(habilitar)"
    ></p-button>
   
  </div>
</div>
<router-outlet></router-outlet>
