
.subconten1{
    
    /*margin-left: 200px;*/
    background-color: rgba(48, 47, 47, 0.116);
    width: 100%;
    min-height: 30em;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(20px, 1fr)); /* Ajusta la altura mínima y máxima de las filas */
    grid-template-columns: repeat(2, 1fr); /* Por ejemplo, 3 columnas */
    gap: 10px;
    }
.bloque{
    background-color: rgba(133, 130, 130, 0.889);
   padding: 20px;
   border-radius: 10px;
  
}
.bloqueTexto{
    width: 100%;

}