
.formulario {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Crea columnas de tamaño flexible */
  grid-gap: 10px; /* Espacio entre elementos */
}

.input-group {
  margin-bottom: 10px;
}

.input-group label {
  display: block; /* Para que las etiquetas ocupen toda la columna */
}

.boton-group {
  margin-top: 20px;
  grid-column: span 3; /* Para que el botón ocupe tres columnas */
}

@media screen and (max-width: 600px) {
  .formulario {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Ajusta el tamaño de las columnas para pantallas pequeñas */
  }
}
.mensaje-guardado {
  z-index: 1500; /* Z-index más alto que el modal */
}
/* Estilos para el mensaje de Swal */
.swal2-popup {
  z-index: 1500; /* Z-index más alto que el modal */
}

/* Estilos para el overlay de Swal */
.swal2-container.swal2-shown .swal2-backdrop {
  z-index: 1400; /* Z-index para el overlay */
}