<section class="contenedor">
  <div class="header text-center">
    <div class="p-toolbar-group-center">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          [(ngModel)]="searchTerm"
          placeholder="Search"
          (input)="applyGlobalFilter()"
        />
      </span>
    </div>
  </div>

  <div class="subconten2">
    <h1 class="text-center titulo-criterios">Lista de Carreras</h1>

    <p-button
      label="Registrar"
      [rounded]="true"
      (click)="redirectToCarrera()"
      class="registrar-button mb-3"
    ></p-button>
    <button class="boton-pdf" (click)="generarPDF()">Generar PDF</button>
    <div class="tabla-container">
      <p-table
        #dt
        [rows]="10"
        [paginator]="true"
        currentPageReportTemplate="Del {first} al {last} de {totalRecords} las carreras"
        [showCurrentPageReport]="true"
        [value]="carrera"
        [scrollable]="true"
        scrollHeight="400px"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Código Carrera</th>
            <th>Nombre Carrera</th>
            <th>Descripciòn</th>
            <th>Director</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-carrera>
          <tr>
            <td>{{ carrera.idCarrera }}</td>
            <td>{{ carrera.nombreCarrera }}</td>
            <td>{{ carrera.descripcionCarrera }}</td>
            <td>{{ carrera.director?.usuPerId.perNombre1 }}</td> <!-- Utiliza la propiedad director para acceder al usuario -->
            <td>
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                class="p-button-success mr-2"
                (click)="actualizarCarrera(carrera.idCarrera)"
              ></button>
            </td>
            <td>
              <button
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-danger"
                (click)="eliminarCarrera(carrera.idCarrera)"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</section>
