@import "primeicons/primeicons.css";

.izquierda{
    align-items: flex-start;
}

h1{
    margin: 2rem;
    font-family: 'Courier New', Courier, monospace;
}

.contenido-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo-inicio{
        width: 35%;
        height: 10rem;
    }
}


.logo-sidebar{
    width: 100%;
    height: 5rem;
    align-items: center;
    margin: 0;
}


