<h1>Analisis de Uso</h1>
<div class="">
    <div class="card flex justify-content-center">
        <p-dropdown [options]="periodosAcademicos" [(ngModel)]="selectedPeriodoAc" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" 
        placeholder="Select a Period" (ngModelChange)="cambioValor($event)">
            <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-2">
                    <div>{{ selectedOption.name }}</div>
                </div>
            </ng-template>
            <ng-template let-periodo pTemplate="item">
                <div class="flex align-items-center gap-2">
                   <div>{{ periodo.name }}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </div>
    <div class="card flex justify-content-center chartst" id="chart">
        <p-chart type="pie" [data]="data" [options]="options" [style]="{ 'width': '45%' }"></p-chart>

    </div>
<!--     
    <div class="">

        <p-button label="Descargar" icon="pi pi-download" (click)="descargar()"></p-button>

    </div> -->


</div>