<h1>Analisis de Uso</h1>
<div class="container">
    <div class="top">
        <div class="left">
            
            <p-dropdown [options]="opcines" [(ngModel)]="selectedOpcines" [showClear]="true"
                (ngModelChange)="onOpcionSeleccionada($event)" placeholder="Seleccione una Opcion"></p-dropdown>
        </div>

        <div class="card flex justify-content-right">
          
<!--           
            <p-autoComplete [(ngModel)]="selectedCarrera"
                [suggestions]="selectedOption === 'Carrera' ? filteredCarrera : (selectedOption === 'Docente' ? filteredDocentes : filteredPerido)"
                [dropdown]="true"
                (completeMethod)="selectedOption === 'Carrera' ? filterCarrera($event) : (selectedOption === 'Docente' ? filterDocente($event) : filterPerido($event))"
                placeholder="Buscar">></p-autoComplete> -->
                <p-autoComplete [(ngModel)]="selectedCarrera"
                [suggestions]="selectedOption === 'Carrera' ? filteredCarrera : (selectedOption === 'Docente' ? filteredDocentes : filteredPerido)"
                [dropdown]="true"
                (completeMethod)="selectedOption === 'Carrera' ? filterCarrera($event) : (selectedOption === 'Docente' ? filterDocente($event) : filterPerido($event))"
                (onSelect)="onSelectAutoComplete($event)"
                placeholder="Buscar"></p-autoComplete>


        </div>

     
    </div>
    <br>
    <div class="card flex justify-content-center chartst" id="chart">
        <p-chart type="pie" [data]="data" [options]="options" [style]="{ 'width': '100%' }"></p-chart>

    </div>
    <div class="">

        <p-button label="Descargar" icon="pi pi-download" (click)="descargar()"></p-button>

    </div>


</div>