<router-outlet></router-outlet>
<section class="contenedor">
  <div class="cabecera">
    <p-toolbar>
      <div class="p-toolbar-group-start">
        <button *ngIf="rol === 'Administrador'"
          pButton
          icon="pi pi-plus"
          class="mr-2"
          (click)="showModal()"
        ></button>
        <button
          label="PDF"
          pButton
          icon="pi pi-file-pdf"
          class="mr-2"
          (click)="generarPDFtable()"
        ></button>
      </div>
      <div class="p-toolbar-group-center">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText placeholder="Search" />
        </span>
      </div>
      <div class="p-toolbar-group-end">
        <p-button
          (onClick)="downloadExcel()"
          label="Excel"
          icon="pi pi-file-excel"
          iconPos="right"
        ></p-button>
      </div>
      <div class="p-toolbar-group-end">
        <p-splitButton *ngIf="rol === 'Administrador'"
          label="Save"
          icon="pi pi-check"
          [model]="items"
        ></p-splitButton>
      </div>
    </p-toolbar>
  </div>
  <div class="subconten2">
    <p-table [value]="userList">
      <ng-template pTemplate="header">
        <tr>
          <th>Nro.</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Cédula</th>
          <th>Dirección</th>
          <th>Fecha de Nacimiento</th>
          <th>Teléfono</th>
          <th *ngIf="rol === 'Administrador'">Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-usu>
        <tr>
          <td>{{ usu.usuId }}</td>
          <td>{{ usu.usuPerId.perNombre1 }}</td>
          <td>{{ usu.usuPerId.perApellido1 }}</td>
          <td>{{ usu.usuPerId.perCedula }}</td>
          <td>{{ usu.usuPerId.perDireccion }}</td>
          <td>{{ usu.usuPerId.perFechaNacimiento }}</td>
          <td>{{ usu.usuPerId.perTelefono }}</td>
          <td *ngIf="rol === 'Administrador'">
            <button
              pButton
              icon="pi pi-pencil"
              class="p-button-success"
              (click)="compartirNombre()"
            ></button>
            <button
              pButton
              icon="pi pi-trash"
              class="p-button-danger"
              (click)="eliminarPersona(usu.usuId)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</section>
<p-dialog
  [(visible)]="displayModal"
  [modal]="true"
  [responsive]="true"
  [style]="{ width: '50vw' }"
>
<div class="modal">
  <div class="modal-content">
    <div class="form">
      <app-registrar-persona></app-registrar-persona>
    </div>
  </div>
</div>
    
 
  
</p-dialog>
