.contenedor {
    display: inline-block;
    margin: 20px;
    margin-left: 250px;
    gap: 16px;
    background-color: aliceblue;
    padding: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(30, 30, 237);
    border-radius: 10px;
    width: 80%;
    
  }
  .contenedor div{
    border-radius: 10px;
    padding: 10px;
    /*float: left;*/
    /*border: 4px solid white;*/

  }

.subconten2{
  background-color: rgba(48, 47, 47, 0.116);
  width: 100%;
  height: 100%; 
    
}
