<router-outlet></router-outlet>
<section class="contenedor">
  <div class="cabecera">
    <p-toolbar>
      <div class="p-toolbar-group-start">
        <button
          pButton
          icon="pi pi-plus"
          class="mr-2"
          (click)="showModal('REGISTRAR')"
        ></button>
        <button
          pButton
          icon="pi pi-print"
          class="mr-2"
          (click)="generarPDFtable()"
        ></button>
      </div>
      <div class="p-toolbar-group-center">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText placeholder="Search" />
        </span>
      </div>
      <div class="p-toolbar-group-end">
        <p-button
          (onClick)="downloadExcel()"
          label="Excel"
          icon="pi pi-file-excel"
          iconPos="right"
        ></p-button>
      </div>
      
    </p-toolbar>
  </div>
  <div class="subconten2">
    <p-table [value]="userList">
      <ng-template pTemplate="header">
        <tr>
          <th>Nro.</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Cédula</th>
          <th>Dirección</th>
          <th>Fecha de Nacimiento</th>
          <th>Teléfono</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-usu>
        <tr>
          <td>{{ usu.usuId }}</td>
          <td>{{ usu.usuPerId.perNombre1 }}</td>
          <td>{{ usu.usuPerId.perApellido1 }}</td>
          <td>{{ usu.usuPerId.perCedula }}</td>
          <td>{{ usu.usuPerId.perDireccion }}</td>
          <td>{{ usu.usuPerId.perFechaNacimiento }}</td>
          <td>{{ usu.usuPerId.perTelefono }}</td>
          <td>
            <button
              pButton
              icon="pi pi-pencil"
              class="p-button-success"
            (click)="showModal('EDITAR')"
            ></button>
            <button
              pButton
              icon="pi pi-trash"
              class="p-button-danger"
              (click)="eliminarPersona(usu.usuId)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</section>
<p-dialog
class="ventana"
  [(visible)]="displayModal"
  [modal]="true"
  [responsive]="true"
>
<div class="modal">
  <p-button (onClick)="displayModal=false">Cerrar</p-button>
<app-registrar-persona [nombre]="nombreEditar"></app-registrar-persona>
</div>
<!--
  <div class="modal-content">
  </div>
</div> -->

</p-dialog>
