<section class="contenedor">
  <div class="header">
    <p-toolbar>
      <div class="p-toolbar-group-start">
      </div>
      <div class="p-toolbar-group-center">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText placeholder="Search" />
        </span>
      </div>
     
      <div class="p-toolbar-group-end">
      </div>
    </p-toolbar>
  </div>
  <div class="subconten2">
    <button
    pButton
    icon="pi pi-plus"
    class="mr-2"
    (click)="redirectToCriterios()"
  ></button>
    <p-table [value]="criterios" [scrollable]="true" scrollHeight="400px">
      <ng-template pTemplate="header">
        <tr>
          <th style="width:20%">ID Criterio</th>
          <th style="width:20%">Nombre Criterio</th>
          <th style="width:20%">Descripción</th>
          <th style="width:20%">Clasificación de Criterios</th>
          <th style="width:20%">Editar</th>
          <th style="width:20%">Eliminar</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-criterio>
        <tr *ngIf="criterios.length > 0; else noData">
          <td>{{ criterio.idCriterio }}</td>
          <td>{{ criterio.nombreCriterio }}</td>
          <td>{{ criterio.descripcion }}</td>
          <td>
      
          </td>
          <td>
            <p-button (click)="actualizarCriterio(criterio.idCriterio)" icon="pi pi-check" class="btn btn-custom"></p-button>
          </td>
          <td>
            <p-button (click)="eliminarCriterio(criterio.idCriterio)" icon="pi pi-times" severity="danger"></p-button>
          </td>
          
        </tr>
        <ng-template #noData>
          <tr>
       
          </tr>
        </ng-template>
      </ng-template>
    </p-table>
  </div>
</section>
