<section class="contenedor">
  <div class="header text-center">
    <div class="p-toolbar-group-center">
      
    </div>
  </div>
  <div class="subconten2">
    <h1 class="text-center titulo-criterios">Lista de criterios</h1>
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        pInputText
        [(ngModel)]="searchTerm"
        placeholder="Buscar"
        (input)="applyGlobalFilter()"
      />
    </span>
    <p-button *ngIf="isAdmin"
      label="Registrar"
      [rounded]="true"
      (click)="redirectToCriterios()"
      class="registrar-button mb-3"
    ></p-button>

    <p-button  [rounded]="true" class="registrar-button mb-3" 
    (click)="generarPDFtable()">
      <i class="pi pi-print">
      </i>Imprimir</p-button>
      
      <p-button label="Excel"
      class="Excel" 
      icon="pi pi-print"
       [rounded]="true" 
      (click)="downloadExcel()"
      ></p-button>

    <div class="tabla-container">
      <p-table
        #dt
        [rows]="10"
        [paginator]="true"
        currentPageReportTemplate="Del {first} al {last} de {totalRecords} los criterios"
        [showCurrentPageReport]="true"
        [value]="criterio"
        [scrollable]="true"
        scrollHeight="400px"
        [responsive]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>ID Criterio</th>
            <th>Nombre Criterio</th>
            <th>Descripción</th>
            <th>Clasificación de criterio</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-criterio>
          <tr>
            <td>{{ criterio.idCriterio }}</td>
            <td>{{ criterio.nombreCriterio }}</td>
            <td class="descripcion-criterio">{{ criterio.descripcion }}</td>
            <td>{{ criterio.clasificacion?.nombreClasificacion }}</td>
            <td>
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                class="p-button-success mr-2"
                (click)="actualizarCriterio(criterio.idCriterio)"
              ></button>
            </td>
            <td>
              <button
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-danger"
                *ngIf="criterio.idCriterio"
                (click)="eliminarCriterio(criterio.idCriterio)"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</section>
