
<!-- Tabla de Criterios -->
<div class="container">
  <div id="fixed">
    <button [routerLink]="['/criterios']" class="btn btn-custom">Crear Criterio</button>
    <table>
      <thead>
        <tr>
          <th style="width:20%">ID Criterio</th>
          <th style="width:20%">Nombre Criterio</th>
          <th style="width:20%">Descripción</th>
          <th style="width:20%">Clasificación de Criterios</th>
          <th style="width:20%">Editar</th>
          <th style="width:20%">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let criterio of datos">
          <td>{{ criterio.idCriterio }}</td>
          <td>{{ criterio.nombreCriterio }}</td>
          <td>{{ criterio.descripcion }}</td>
          <td>{{ criterio.id_clasificacion_criterios }}</td>
          <td>
            <button (click)="actualizarCriterio(criterio.idCriterio)"  class="btn btn-custom">Actualizar</button>
          </td>
          <td>
            <button (click)="eliminarCriterio(criterio.idCriterio)" class="btn btn-custom">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

