.formulario {
    margin: 50px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Dividir el formulario en tres columnas */
    gap: 20px; /* Espacio entre las columnas */
  }
  
  .input-group {
    margin-bottom: 10px;
    
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .p-dropdown {
    width: 100%;
  }
  