<div class="formulario">
  <h1>Registrar Rol</h1>
  <div class="input-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" [(ngModel)]="rol.rolNombre" required>
  </div>
  <div class="input-group">
      <label for="descripcion">Descripción:</label>
      <input type="text" id="descripcion" name="descripcion" [(ngModel)]="rol.rolDescripcion" required>
  </div>
  

  <div class="boton-group">
      <button type="button" (click)="registrarRol()" pButton icon="pi pi-check" label="Guardar"></button>
  </div>
</div>
