<section class="contenedor">
  <div class="subconten1">
    <div class="flex flex-column gap-2">
      <label for="username">Nombre</label>
      <input
        pInputText
        id="username"
        aria-describedby="username-help"
        [(ngModel)]="value"
      />
      <small id="username-help">Escriba el nombre.</small>
    </div>
    <div class="flex flex-column gap-2">
      <label for="username">Apellido</label>
      <input
        pInputText
        id="username"
        aria-describedby="username-help"
        [(ngModel)]="value"
      />
      <small id="username-help">Escriba el apellido</small>
    </div>
    <div class="flex flex-column gap-2">
      <label for="username">Correo</label>
      <input
        pInputText
        id="username"
        aria-describedby="username-help"
        [(ngModel)]="value"
      />
      <small id="username-help">Escriba el correo</small>
    </div>
    <div class="flex flex-column gap-2">
      <label for="username">Nombre</label>
      <input
        pInputText
        id="username"
        aria-describedby="username-help"
        [(ngModel)]="value"
      />
      <small id="username-help">Escriba el nombre.</small>
    </div>
    <div class="flex flex-column gap-2">
      <label for="username">Nombre</label>
      <input
        pInputText
        id="username"
        aria-describedby="username-help"
        [(ngModel)]="value"
      />
      <small id="username-help">Escriba el nombre.</small>
    </div>
  </div>
  <div class="subconten2">
    <p-table [value]="personas" [scrollable]="true" scrollHeight="400px">
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body">
        <tr *ngFor="let people of personas">
          <td>{{ people.nombre }}</td>
          <td>{{ people.apellido }}</td>
          <td>{{ people.email }}</td>
          <td>{{ people.email }}</td>
          <td>{{ people.email }}</td>
          <td>{{ people.email }}</td>
          <td>{{ people.email }}</td>
          <td>{{ people.email }}</td>
          <td>{{ people.email }}</td>
          <td>{{ people.email }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</section>
