<div *ngIf="rol === 'Administrador'" class="formulario">

    <body>

            <h2 class="text-center">Calificacion de Criterios</h2>

            <div class="flex flex-column gap-2">
                <label for="descripcion">Código calificación:</label>
                <input pInputText type="text" id="descripcion" name="descripcion" placeholder="nombre de clasificacion"[(ngModel)]="clasificacion.codCalificacion" />
                <small id="descripcion">Ingrese el Código.</small>
            </div>
            <div class="flex flex-column gap-2">
                <label for="descripcion">Descripción:</label>
                <textarea
                        pInputText
                        id="descripcion"
                        name="descripcion "
                        placeholder="Descripción"
                        [(ngModel)]="clasificacion.descripcion"
                    ></textarea>
                <small id="descripcion">Ingrese la descripción .</small>
              </div>
            <div class="button-container">
          

                <p-button  type="submit" icon="pi pi-check"  label="Guardar"[rounded]="true" [text]="true" [raised]="true" (click)="guardarcriterio()"></p-button>
            </div>
           
    
    </body>
    
    </div>